In [1]:
%load_ext autoreload
%autoreload 2

%load_ext sql

In [2]:
# local_database = "postgresql://postgres:Sxy20000425@localhost/proj1part3"
# %sql postgresql://postgres:Sxy20000425@localhost/indbml
%sql postgresql://xs2485:Sxy20000425@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2

In [15]:
%%sql
DROP TABLE IF EXISTS DEMO;
CREATE TABLE IF NOT EXISTS DEMO(
    r_id int PRIMARY KEY,
     rating float,
     num_likes int,
     num_hates int,
     num_violations int,
     num_comments int
);

INSERT INTO demo VALUES
(0, 20, 8, 2, 4, 3 ),
(1, 21, 9, 4, 2, 6),
(2, 35, 2, 1, 0, 2),
(3, 25.5, 2, 8, 1, 2),
(4, 3, 0, 6, 3, 7),
(5, 2, 1, 9, 2, 1),
(6, 17, 2, 3, 4, 3),
(7, 15.5, 2, 0, 3, 6),
(8, 12.5, 5, 8, 4, 3),
(9, 0, 0, 10, 7, 4),
(10, 23, 6, 3, 3, 8),
(11, 12, 4, 2, 6, 3),
(12, 18, 6, 2, 3, 1),
(13, 14, 3, 3, 3, 3),
(14, 15, 4, 1, 4, 4),
(15, 35, 2, 1, 0, 2),
(16, 25.5, 2, 8, 1, 2),
(17, 3, 0, 6, 4, 7),
(18, 21, 11, 3, 2, 1),
(19, 16, 5, 3, 4, 3)

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
Done.
Done.
20 rows affected.

[]

In [16]:
%%sql
SELECT * FROM DEMO

 * postgresql://xs2485:***@w4111.cisxo09blonu.us-east-1.rds.amazonaws.com/proj1part2
20 rows affected.

[(0, 20.0, 8, 2, 4, 3),
 (1, 21.0, 9, 4, 2, 6),
 (2, 35.0, 2, 1, 0, 2),
 (3, 25.5, 2, 8, 1, 2),
 (4, 3.0, 0, 6, 3, 7),
 (5, 2.0, 1, 9, 2, 1),
 (6, 17.0, 2, 3, 4, 3),
 (7, 15.5, 2, 0, 3, 6),
 (8, 12.5, 5, 8, 4, 3),
 (9, 0.0, 0, 10, 7, 4),
 (10, 23.0, 6, 3, 3, 8),
 (11, 12.0, 4, 2, 6, 3),
 (12, 18.0, 6, 2, 3, 1),
 (13, 14.0, 3, 3, 3, 3),
 (14, 15.0, 4, 1, 4, 4),
 (15, 35.0, 2, 1, 0, 2),
 (16, 25.5, 2, 8, 1, 2),
 (17, 3.0, 0, 6, 4, 7),
 (18, 21.0, 11, 3, 2, 1),
 (19, 16.0, 5, 3, 4, 3)]